.marketing {
	padding-top: 25px;
	background-color: black;
	color: white;
	text-transform: uppercase;
	h3 {
		font-size: 11px;
		font-weight: bold;
		margin-bottom: 5px;
	}
	ul {
		list-style: none;
		padding-left: 0;
		li {
			font-size: 11px;
		}
	}
}

@media (min-width: $screen-sm-min) {
	
	.marketing {
		padding-top: 13px;
	}
	.message-left {
		float: left;
		padding-left: 56px;
	}

	.message-right {
		float: right;
		padding-right: 50px;
	}
}