.prefooter {
	background-color: $bg-dark;
	padding-bottom: 10px;

	.column {
		text-align: center;
		ul {
			padding: 0;
			list-style: none;
			li {
				line-height: 15px;
			}
		}
		h3 {
			font-weight: bold;
			margin-bottom: 2px;
		}
		a,h3, ul li {
			color: $text-gray;
			font-family: $default-font;
		}
	}

	.col-custom-five {
	    position: relative;
	    min-height: 1px;
	    padding-left: 15px;
	    padding-right: 15px;

	    h3 {
	    	font-size: 12px;
	    }
	    ul li {
	    	font-size: 12px;
	    	line-height:18px;
	    }
	}

	@media (min-width: $screen-sm-min) {
		.column {
			text-align: left;
			h3 {
				line-height: 14px;
				margin-bottom: 0px;
			}
			a,h3 {
				
				font-size: $small-text;
			}
			ul li {
	    	font-size: 12px;
	    	line-height: 14px;
	    }
		}
	}
}