<div class="container prefooter">
	<div class="row">        
	  <div class="column col-custom-five" ng-repeat="item in vm.items">
      <h3>{{item.title}}</h3>
      <ul>
      	<li ng-repeat="link in item.links"><a href="#"> {{link}}</a></li>
      </ul>
	  </div>
	</div>
</div>


