.show-more-info {
	background-color: $bg-gray-info;
	padding: 5px 15px 5px;
	text-align: center;
	span,p {
		color: $text-light;
	}
	.toggle-more {
		font-size: 10px;
		text-transform: uppercase;
		span {
			cursor: pointer;
		}
	}
	.more {
		font-size: 12px;
		@media (min-width: $screen-sm-min) {
			font-size: 11px;
		}
		
		margin-top: 25px;
		padding-bottom: 10px;
	}
}