<div class="show-more-info clearfix">
	<div toggle-more class="toggle-more" aria-expanded="false" aria-controls="collapsible-1" role="button"><span>show more info</span></div>
	<div class="more" id="collapsible-1" aria-hidden="true">
		<p>{{vm.content}}</p>
	</div>
</div>
