div.container-fluid {
	@media (min-width: $screen-sm-min) {
		padding: 0;
	}
	
}
.logo {
	background: url('../images/logo.jpg') 0 23px no-repeat;
	display: block;
	width: 93px;
	height: 65px;
	margin-left: 23px;
	margin-right: 23px;
}

nav.navbar {
	margin-bottom: 0;
	background-color: black;
	@include border-radius(0);
	border: none;
}

@media (min-width: $screen-sm-min) {
	.nav {
	&.navbar-nav {
		> li {
			width:82px;

			margin-right: 1px;
				&.poker {
				
					> a, > a:active {
						background: url('../images/sprites.png') -102px -976px no-repeat;
						
					}
					>  a:hover {
						background: url('../images/sprites.png') -102px -844px no-repeat;
					}
				}
				&.casino {
					> a, > a:active {
						background: url('../images/sprites.png') -10px -976px no-repeat;
						
					}
					
					>  a:hover {
						background: url('../images/sprites.png') -10px -844px no-repeat;
					}
				}

				&.sports {
					> a, > a:active {
						background: url('../images/sprites.png') -102px -910px no-repeat;
						
					}
					
					>  a:hover {
						background: url('../images/sprites.png') -102px -778px no-repeat;
					}
				}
				&.live {
					> a, > a:active {
						background: url('../images/sprites.png') -10px -910px no-repeat;
						
					}
					
					>  a:hover {
						background: url('../images/sprites.png') -10px -778px no-repeat;
					}
				}
				> a, > a:hover, > a:active {
				text-indent: -9999px;
				background-color: transparent;
				height: 56px; 
			}
			}
			
	}
}
}

