<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" aria-expanded="false" aria-controls="collapsible-0" role="button" class="navbar-toggle" toggle-menu data-toggle="collapse" data-target="#framework-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" ui-sref="app.home" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" role="navigation" id="collapsible-1" id="framework-navbar">
      <ul class="nav navbar-nav">
        <li class="poker"><a class="poker" ui-sref="app.poker" href="#">Poker</a></li>
        <li class="casino"><a class="casino" ui-sref="app.casino" href="#">Casino</a></li>
        <li class="sports"><a class="sports" ui-sref="app.sports" href="#">Sports</a></li>
        <li class="live"><a class="live" ui-sref="app.live" href="#">Live</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>