.col-custom-five {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

}

@media (min-width: $screen-sm-min) {
	.main {
		padding-right: 0;
		padding-left: 0;
	}
	.channels {
		.col-md-4 {
			padding-left: 0;
			padding-right: 0;
		}
	}
    .col-custom-five {
	    
	    width: 20%;

	}
  }
