//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (760px + $grid-gutter-width)!important;
//** For `$screen-md-min` and up.
$container-md:                 (760px + $grid-gutter-width)!important;

// Large screen / wide desktop
//$container-large-desktop:      (940px + $grid-gutter-width) !default;

//** For `$screen-lg-min` and up.
//$container-lg:                 $container-large-desktop !default;

.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: 760px!important;
  }
  @media (min-width: $screen-lg-min) {
    width: 760px!important;
  }
}

// Color
$bg-dark: #000000;
$bg-gray: #cccccc;
$bg-dark-gray: #1b2226;
$bg-gray-info: #16191d;
$text-gray: #636363;
$text-light-gray: #85a5b2;
$text-light: #efefef;
$button1: #780403;
$button2: #410200;
$gray-line: #36444e;

// Font Family

$default-font: "Verdana";
$footer-font: "Myriad Pro";
$button-font: $footer-font;

// Font Size
$small-text: 9px;
