<div class="contact">
	<ul class="list-inline" role="navigation">
		<li><a href="#">Contact Us</a></li>
		<li><a href="#">Bonuses</a></li>
		<li><a href="#">Help</a></li>
		<li>Toll Free: 00-800-1004-2004</li>
	</ul>
</div>
