.contact {
	background-color: $bg-dark-gray;
	border-top: 1px solid $gray-line;
	border-bottom: 1px solid $gray-line;
	padding: 3px 15px 3px 15px;
	height: 22px;
	color: white;
	font-family: $footer-font;
	font-size: 12px;
	a {
		color: $text-light-gray;
		//font-family: $footer-font;
		//font-size: 12px;
	}
}