.banner-wrapper {
	border-bottom: 1px solid $gray-line;
	.banner {
		background: url('../images/main-banner.jpg') no-repeat;
		position: relative;
		//height: 260px;
		//width: 760px;
		min-height: 125px;
		margin-bottom: 0;
		@include background-size(cover);
		@include border-radius(0);

		  @media (min-width: $screen-sm-min) {
		    min-height: 260px;
		  }
		}	
}

.join {
	position: absolute;
	bottom: -30px;
    left: 24%;
    
	@media (min-width: $screen-sm-min) {
		left: 38%;
		bottom: -22px;
	}
	
	//@include background-image(radial-gradient(circle, $button1, $button2));
	@include border-radius(10px);
	width:184px; 
	height:58px; 
	background: url('../images/sprites.png') no-repeat -10px -1100px;
	color: white;
	text-indent: -9999px;
	border: 5px solid black;
	//padding: 7px 16px 3px;

	&:hover {
		background: url('../images/sprites.png') no-repeat -10px -1042px;
		color: white;
		//@include text-shadow(#ccc 1px 1px 3px);
	}
}